<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Website lor</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-image: url('https://wallpaper-mania.com/wp-content/uploads/2018/09/High_resolution_wallpaper_background_ID_77700604345.jpg');
            /* https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDI0LTAzL3Jhd3BpeGVsX29mZmljZV81M19hX21pbmltYWxfYW5kX2xlc3NfZGV0YWlsX2lsbHVzdHJhdGlvbl9vZl9jaF8xN2NmMTIxNy1kNDM0LTRjYTYtYjIxYy04ZmQyMjQxMjlkN2EuanBn.jpg */
            font-family: 'Arial', sans-serif;
            background-size: cover;
            background-position: center;
        }
        header {
            color: white;
            padding: 20px 0;
            
        }
        footer{
            
            color: white;
        }
        h1 {
            font-family: 'Courier New', Courier, monospace;
            text-transform: uppercase;
            color: rgb(155, 52, 52);
        }
        h2{
            font-family: 'Courier New', Courier, monospace;
            color: white;
            font-size: 35px;

        }
        h3{
            color: rgb(91, 96, 97);
        }
        .anime-item {
            border: 2px solid #333;
            border-radius: 10px;
            margin-bottom: 20px;
            overflow: hidden;
            transition: transform 0.3s;
        }
        .anime-item:hover {
            transform: scale(1.05);
        }
        img {
            object-fit: cover; 
        }
      
        
    </style>
</head>
<body>
    <header class="text-center">
        <h1>Welcome to anime website vanthien</h1>
        <nav>
            <a href="/" class="text-white mx-2">All anime</a>
            <a href="/login" class="text-white mx-2">Login</a>
            <a href="/game" class="text-white mx-2">Games</a>
        </nav>
    </header>
    <main class="container my-5 d-flex">
        <section id="featured">
            <h2 class="text-center" style="margin-top: -30px;" >Featured Anime</h2>
            <div class="row">
                <div class="col-md-4">
                    <a href="/anime/naruto" class="text-decoration-none">
                        <div class="anime-item text-center">
                            <img src="https://imgcdn.stablediffusionweb.com/2024/4/10/c10cd734-b263-4493-8b90-06bb3e0efe2e.jpg" alt="Naruto" class="img-fluid" style="height: 250px; width: 100%;">
                           
                            <h3>Naruto</h3>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="/anime/one-piece" class="text-decoration-none">
                        <div class="anime-item text-center">
                            <img src="https://file.hstatic.net/200000547241/file/phim_one_piece_ra_mat_khi_nao_ead2080afe2747068ffc70e1202792ce_grande.png" alt="One Piece" class="img-fluid" style="height: 250px; width: auto;">
                            <h3>One Piece</h3>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="/anime/Doremon" class="text-decoration-none">
                        <div class="anime-item text-center">
                            <img src="https://m.media-amazon.com/images/S/pv-target-images/1a641e9e9cfb6251d9f62f69465ebd8231e914d65b07d4774a0fafb06a646854.jpg" alt="Doremon" class="img-fluid" style="height: 250px; width: auto;">
                            <h3>Doremon</h3>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="/anime/dragon-ball" class="text-decoration-none">
                        <div class="anime-item text-center">
                            <img src="https://dragonballwiki.net/xemphim/wp-content/uploads/2017/06/Wiki-background.jpg" alt="Doremon" class="img-fluid" style="height: 250px; width: auto;">
                            <h3>Dragon Ball</h3>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="/anime/conan" class="text-decoration-none">
                        <div class="anime-item text-center">
                            <img src="https://media.viez.vn/prod/2022/7/11/conan_7_7bda3f7807.jpeg" alt="Doremon" class="img-fluid" style="height: 250px; width: auto;">
                            <h3>Conan</h3>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="/anime/demon-slayer" class="text-decoration-none">
                        <div class="anime-item text-center">
                            <img src="https://cdn.popsww.com/blog/sites/2/2022/01/thanh-guom-diet-quy-review.jpg" alt="Doremon" class="img-fluid" style="height: 250px; width: auto;">
                            <h3>Demon Slayer</h3>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="/anime/robo-tray-cay" class="text-decoration-none">
                        <div class="anime-item text-center">
                            <img src="https://i.ytimg.com/vi/Ph2-z6oogpE/maxresdefault.jpg" alt="Doremon" class="img-fluid" style="height: 250px; width: auto;">
                            <h3>Robo trái cây</h3>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="/anime/2-chu-gau" class="text-decoration-none">
                        <div class="anime-item text-center">
                            <img src="https://i.ytimg.com/vi/Bh-2Et3RPpQ/maxresdefault.jpg" alt="Doremon" class="img-fluid" style="height: 250px; width: auto;">
                            <h3>2 chu gau BOONIE BEARS</h3>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="/anime/tom-and-jerry" class="text-decoration-none">
                        <div class="anime-item text-center">
                            <img src="https://gcs.tripi.vn/public-tripi/tripi-feed/img/473814Kgg/1-tom-va-jerry-14350.jpg" alt="Doremon" class="img-fluid" style="height: 250px; width: 360px;">
                            <h3>Tom and Jerry</h3>
                        </div>
                    </a>
                </div>
            </div>
        </section>
      
    </main>
    
    <footer class="text-center">
        <p>&copy; 2024 Vanthien Idol</p>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
