body {
    font-family: 'Poppins', sans-serif;
    background-color: #f0f0f0;
}

header {
    background-color: #282c34;
    color: white;
    padding: 20px;
    text-align: center;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #61dafb;
    font-weight: bold;
}

.anime-item {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
    border-radius: 10px;
    overflow: hidden;
}

.anime-item:hover {
    transform: scale(1.05);
}
